body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('bg.jpg');
    background-size: cover;
}

.container {
    background: rgba(255,255,255,0.95);
    max-width: 850px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
}

.header {
    text-align: center;
}

.header img {
    width: 90px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.photo-preview {
    width: 120px;
    height: 140px;
    border: 2px dashed #666;
    margin: 10px auto;
    object-fit: cover;
}

.agreement {
    background: #eef7ff;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid green;
}

.signature {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 90%;
    margin: 10px auto;
    display: block;
    padding: 12px;
    background: #0f2027;
    color: white;
    border: none;
    border-radius: 10px;
}

.container {
    background: url('form-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    padding: 25px;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
function downloadPDF() {
    const element = document.getElementById("formArea");

    html2pdf().set({
        margin: 0,
        image: { type: 'jpeg', quality: 1 },
        html2canvas: { scale: 2, useCORS: true },
        jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    }).from(element).save();
}
.container {
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(255,255,255,0.2);
    z-index: 0;
}

.container * {
    position: relative;
    z-index: 1;
}
#formArea {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    box-sizing: border-box;
    input, textarea {
    padding: 6px;
    font-size: 13px;
}

h2, h3 {
    margin: 5px 0;
}
    
    
}
